{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container container-header">
  {% if request.user == manufacturer.responsible_purchaser %}
    <h1>{{ object|yesno:"Update,Create" }} manufacturer</h1>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

      <input type="submit" value="Submit" class="btn bg-gradient-success">
    </form>
  {% else %}
    <h1>Can't update information!</h1>
    <p>Sorry, you cannot update the information if you are not responsible for manufacturer.</p>
  {% endif %}
  </div>
{% endblock %}
