{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container container-header">
    <h1>
      Manufacturer List
      <a href="{% url 'webpage_app:manufacturer-create' %}" class="btn btn-success w-auto me-1 mb-0">
        Create
      </a>
    </h1>

    {% if manufacturer_list %}
      <form action="" method="get" class="d-flex flex-row align-items-center flex-wrap" style="margin-bottom: 5px;">
        {{ search_name_form|crispy }}
          <input type="submit" class="btn btn-secondary" value="Search" style="margin-left: 5px">
      </form>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Responsible purchaser</th>
          <th>Status</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for manufacturer in manufacturer_list %}
          <tr>
            <td>
                {{ manufacturer.id }}
            </td>
            <td>
              <a href="{% url 'webpage_app:manufacturer-detail' pk=manufacturer.id %}">
                {{ manufacturer.name }}
              </a>
            </td>
            <td>
                {{ manufacturer.responsible_purchaser }}
            </td>
            <td>
                {{ manufacturer.get_status_display }}
            </td>
            <td>
              <a class="btn btn-info w-auto me-1 mb-0" href="{% url 'webpage_app:manufacturer-update' pk=manufacturer.id %}">
                Update
              </a>
            </td>
            <td>
              <a class="btn btn-danger w-auto me-1 mb-0"
                 href="{% url 'webpage_app:manufacturer-delete' pk=manufacturer.id %}">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>

    {% else %}
      <form action="" method="get" class="d-flex flex-row align-items-center flex-wrap" style="margin-bottom: 5px;">
        {{ search_name_form|crispy }}
          <input type="submit" class="btn btn-info" value="Search" style="margin-left: 5px">
      </form>
      <p>There are no matching manufacturers in the database.</p>
    {% endif %}
  </div>
{% endblock %}
